html, body {
    height: 100%;
}

.top-bar {
    height: 15px;
    background-color: #008080;
    margin-bottom: 50px;
}

.jumbotron {
    padding-bottom: 24px;
}

.seperator {
    border-top: 1px solid #008080;
}

a { 
    color: #212529; 
}

a:hover, a:active {
    color: #008080;
}

.icon-wrap {
    font-size: 3em;
    margin-right: 20px;
}

.icon-wrap.last {
    font-size: 3em;
    margin-right: 0px;
}

.act-item {
    text-align: center;
}

.act-wrap {
    font-size: 5em;
    color: #008080;
}


.footer {
    text-align: center;
    border-bottom: 5px solid #008080;
    font-size: .7em;
}